

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Edit a cocktail</h1>
      <%= form_for @cocktail do |f| %>
      <%= f.label :name, "Rename the cocktail end press RENAME" %>
      <%= f.text_field :name%>
      <%= f.submit "rename", class: 'btn btn-primary' %>
      <% end%>
    </div>
  </div>
</div>
