<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class = "page_header">
          <h1>
            All cocktails
          </h1>
        </div>
        <ul class="list-group">
          <% @cocktails.each do |cocktail| %>
            <li class="list-group-item">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
              <%= link_to "edit a Cocktail", edit_cocktail_path(cocktail.id) %>
            </li>
          <% end %>
        </ul>
        <div class = "page_footer">
          <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</body>
