// Import page-specific CSS files here.
@import "home";

body{
  background: EDEEF0;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Shadows Into Light', cursive;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  font-size: 25px;
  // text: rgb(16%, 33%, 45%);
  font-weight: 400;
}

h1{
   // font-family: 'Dancing Script', cursive;
  color: #FFFFFF;
  font-size: 26px;
  position: absolute;
  top: 5px;
  left: 35px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;

}

.page_header{
  width: 960px;
  position: relative;
  height: 42px;
  margin: 0 auto;
  padding: 0 15px;
  background: #4B76A8;
  text-color: #FFFFFF;
  border-radius: 4px;
  margin-bottom:10px;

}

.page_footer{
  position: relative;
  width: 960px;
  margin-top: 10px;
  background: #FFFFFF;
  border-radius: 4px;
  height: 42px;
}

.container{
  background: EDEEF0;
}

.btn-primary{
  padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary{
  padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    top: 6px;
    left: 12px;
}

.btn-primary:hover{
  background-color: #E8F0FE;
  color: black;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
