// Import page-specific CSS files here.
@import "home";

body{
  background: EDEEF0;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #4B76A8;
}

h1{
  color: #FFFFFF;
  font-size: 26px;
  position: absolute;
  top: 5px;
  left: 35px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;

}

.page_header{
  width: 960px;
  position: relative;
  height: 42px;
  margin: 0 auto;
  padding: 0 15px;
  background: #0A5199;
  text-color: #FFFFFF;
  border-radius: 4px;
  margin-bottom:10px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

}

.page_footer{
  position: relative;
  width: 960px;
  margin-top: 10px;
  background: #FFFFFF;
  border-radius: 4px;
  height: 75px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.container{
  background: EDEEF0;
  color: #4B76A8;
}

// .btn-primary{
//   padding: 7px 16px 8px;
//   margin: 0;
//   font-size: 12.5px;
//   display: inline-block;
//   zoom: 1;
//   cursor: pointer;
//   white-space: nowrap;
//   outline: none;
//   font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
//   vertical-align: top;
//   line-height: 15px;
//   text-align: center;
//   text-decoration: none;
//   background: none;
//   background-color: #0A5199;
//   color: #fff;
//   border: 0;
//   border-radius: 4px;
//   box-sizing: border-box;
// }

.btn-primary{
  padding: 7px 16px 8px;
  margin: 0;
  font-size: 12.5px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  vertical-align: top;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #0A5199;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  bottom: 5px;
  left: 7px;
}

.btn-primary:hover{
  background-color: #E8F0FE;
  color: black;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.btn-primary-create{
  padding: 7px 16px 8px;
  margin: 0;
  font-size: 12.5px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  vertical-align: top;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #0A5199;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  left: 7px;
}

.btn-primary-create:hover{
  background-color: #E8F0FE;
  color: black;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.list-group{
  color: #4B76A8;
  width: 960px;
  background-color: #F5EAF4;
  border-radius: 4px;
}

.list-group-item{
  color: #4B76A8;
  border-radius: 4px;
}

.row{
  color: #4B76A8;

}
